/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* UTILS */
  
  .container {
    margin: 0 auto;
    width: 1080px;
    padding: 0px 10px;
    max-width: 100%;
    }

    .upper-header .container{
        display: flex;
        padding: 30px 0px;
        align-items: center;
    }

    .upper-logo{
        min-width: 20%;
        padding: 5px 10px;
    }

    .upper-links{
        min-width: 60%;
        padding: 5px 20px;
        text-align: center;
        font-size: 20px;
    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: black;
    }

    .link-list li{
        display: inline;
        padding: 0px 10px;
    }

    .upper-login{
        min-width: 20%;
        padding: 5px 10px;
        text-align: end;
        font-size: 20px;
        color: black;
        background-color: white;
        border-radius: 20px;
    }

    .upper-login:hover{
        color: #255ee9;
    }


    .upper-header{
        background-color: #255ee9;
    }

    .lower-header .container{
        display: flex;
        width: 700px;
        padding: 30px 0px;
    }

    .lower-header{
        background-image: url(./img/jumbo.png);
        background-size: 100%;
    }

    .hero{
        flex-basis: 100%;
        height: 450px;
    }

    .hero h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
        padding-top: 120px;
        color: white;
    }

    .hero p{
        font-size: 18px;
        text-align: center;
        padding: 0px 1px;
        color: white;
        line-height: 25px;
    }

    .hero .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download{
        background-color: white;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;
        margin-right: 10px;
    }

    .open-browser{
        color: white;
        background-color: black;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;
        margin-left: 10px;
    }



    /* MAIN */

    .first-section .container{
        display: flex;
        padding: 30px 0px;
    }

    .container .large-col{
        flex-basis: 70%;
        height: 300px;
        background-color: lightblue;
        border: 2px dashed black;
    }

    .container .small-col{
        flex-basis: 30%;
        height: 300px;
        background-color: pink;
        border: 2px dashed black;
    }

    .first-section:nth-child(even){
        background-color: grey;
    }

    .reverse{
        flex-direction: row-reverse;
    }


    .last-main-col{
        background-color: green;
        flex-basis: 100%;
        height: 600px;
        border: 2px dashed black;
    }

    /* FOOTER */

    /* UPPER FOOTER */

    .upper-footer{
        background-color: rgb(31, 31, 31);
    }

    .upper-footer .container{
        display: flex;
        padding: 30px 0px;
    }

    .upper-footer .container .small-col{
        flex-basis: 30%;
        height: 600px;
        background-color: salmon;
        border: 2px dashed black;
    }

    .upper-footer .container .large-col{
        display: flex;
        flex-basis: 70%;
        height: 600px;
        background-color: cornflowerblue;
        border: 2px dashed black;
    }

    .large-col .internal-col{
        flex-basis: 25%;
        border: 2px dashed white;
    }


    /* LOWER FOOTER */

    .lower-footer{
        background-color: rgb(31, 31, 31);
        padding-top: 30px;
    }

    .lower-footer .container{
        display: flex;
        padding: 15px 0px;
        justify-content: space-between;
        align-items: center;
        background-color: yellow;
    }

    .lower-logo{
        background-color: antiquewhite;
        border: 2px dashed black;
    }

    .lower-button{
        background-color: antiquewhite;
        border: 2px dashed black;
    }
    
    

